---
import Hello from './hello.org'
import {getCollection} from "astro:content"
const docs = await getCollection('docs')
const content = docs.length === 0 ? 'empty' : docs.map(d => JSON.stringify(d.data, null, 2)).join('\n')
const count = docs.length
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Astro</title>
</head>
<body>
<h1>Astro</h1>
<Hello/>
<p>There are {count} docs</p>
<pre>{content}</pre>
</body>
</html>
