---
import Playground from '../components/playground.tsx'
import content from '../text.org?raw'
---

<div class:list={['w-screen', 'h-screen']}>
  <Playground client:only="react" content={content} />
</div>

<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css"
  />
</head>
