---
export interface Props {
  title?: string;
  metadata?: Record<string, string>
}
const {title} = Astro.props.metadata || Astro.props;
---

<article
    class:list={[
      "container mx-auto max-w-3xl py-8 px-4",
      "prose",
      "prose-h2:mt-6 prose-h2:mb-3 prose-h3:mb-1 prose-h3:border-b prose-h3:border-comment prose-li:my-0",
    ]}>
  {title && <h1>{title}</h1>}
  <slot>
</article>
