---
  const links = [
    { href: '/playground', text: 'playground' },
    { href: '/docs/getting-started', text: 'docs' },
    { href: 'https://github.com/orgapp/orgajs', text: 'github' },
  ]
---

<div class:list={['flex gap-2 items-center justify-between w-full px-2 uppercase font-bold text-slate-600']}>
  <a href="/">home</a>
  <div class:list={['']}>
    {links.map(({ href, text }) => (<a href={href}>{text}</a>))}
  </div>
</div>

<style>
  a:hover {
    color: #2b6cb0;
    background-color: #ebf8ff;
  }
  a {
    padding: 0.5rem 0.5rem;
  }
</style>
