@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: nord --default, dark --prefersdark;
}

#root {
	@apply flex flex-col h-screen;
}

.cm-editor {
	outline: none;
	@apply bg-base-300;
}

.cm-gutter {
	@apply bg-base-200;
}

.cm-editor.cm-focused {
	outline: none;
}
