name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '**/README.org'
      - '**/README.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**/README.org'
      - '**/README.md'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          cache: 'pnpm'
      - name: install dependencies
        run: pnpm install
      - name: build packages
        run: pnpm build
      - name: run unit tests
        run: pnpm test
