name: UT

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14
    - name: bootstrap and test
      run: |
        yarn run bootstrap
        yarn run compile
        yarn test
